<%- include('partials/header') %>


<div class="jumbotron back">
  <div class="container">
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <div class="">
    <img class="img-Home" src="https://github.com/londonappbrewery/TinDog-Start/blob/master/images/iphone6.png?raw=true" alt="iphone-mockup">
    <h1 class="navbar-brand feature-title">TinDog app</h1>
    <!-- <p class="lead">Don't keep your secrets, share them anonymously!</p> -->
    <a class="btn left btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn left btn-dark btn-lg" href="/login" role="button">Login</a>
  </div>
</div>

<%- include('partials/footer') %>
